body {
  margin: 0;
  background-color: #DCDDDC;
  position: relative;
}

/* Style de la navbar */

.navbar {
  padding-left: 1%;
  padding-top: 0.1%;
  display: block;
  position: relative;
  z-index: 20;

}

.footer {
  text-align: center;
  width: 100%;
  background-color: #565656;
  height: 50px;
  position: absolute;
  bottom: 0; 
  left: 0; 
  right: 0;

}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change la couleur de l'item de la navbar */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.home:hover {
  background-color : #f0e69d;
  color: black;
}

/* Ajoute une couleur du lien actif de la navbar*/
.navbar a.active {
  background-color: #d9d6d5;
  color: white;
}

.conteneur {
  background-color: #565656;
  width: 100%;
  height: 8%;
  position: fixed;
  z-index: 21;
}

.homeImage {
  width: 100%;
  height: 100%;
}

.CSSgal {
  position: none;
  z-index: 5;
  overflow: hidden;
  padding-top: 0%;
  height: 80%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  padding-top: 0%;
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 22%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width:       60px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
  color: #fff;  
  text-align: center;
}
.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.buttondown {
  text-align: center;
  vertical-align: middle;
  padding-top: 4%;
  height: 20%;
}

.searchField {
  width: 50%;
  border-radius: 10px;
}

.mainPage {
  background-color: #646464;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  margin-left: 10%;
  padding-left: 10%;
  margin-bottom: 10%;
  padding-top: 2%;
  box-shadow: 13px 13px 17px #aaa;
  margin-top: 2%;
}

.buttonSearch {
  padding:6px 0 6px 0;
  font:bold 13px Arial;
  background:#66BD71;
  color:#555;
  border-radius:2px;
  width:100px;
  border:1px solid #ccc;
  box-shadow:1px 1px 3px #999;
}

* {
  padding: 0;
  margin: 0;
  transition: 0.3s all ease;
}

body {
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 62.5%;
  text-rendering: geometricPrecision;
}

.image-box {
  border: 0.3em solid #000;
  float: left;
  margin: 1.0em 1.5%;
  width: 25%;
}

.image-content {
  overflow: hidden;
  position: relative;
}

.image-content img {
  display: block;
  width: 100%;
  transform: rotate(5deg) scale(1.2);
}

.image-content img.detail-hover-state {
  transform: none;
}

.image-content .image-detail {
  background-color: rgba(40, 47, 55, 0.8);
  color: #fff;
  height: 100%;
  left: 0;
  padding: 1.0em;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-content .image-detail h3 {
  font-size: 2.0em;
  font-weight: 500;
  text-align: right;
  width: 100%;
}

.image-content .image-detail .detail-text {
  bottom: 1.5em;
  font-size: 1.6em;
  line-height: 1.2em;
  position: absolute;
  width: 95%;
}

.image-content, .image-content .image-detail {
  transform: scale(1);
}

.image-content, .image-content img, .image-content .image-detail {
  -webkit-backface-visibility: hidden;
}

.image-content .image-detail, .image-box, .image-content .image-detail .detail-text {
  box-sizing: border-box;
  -moz-box-sizing : border-box;
  -webkit-box-sizing : border-box;
}

.image-content .button {
  position: absolute;
  top: 50%;
  opacity: 0;
  z-index: 999;
  text-align: center;
  transform: translate(0, -50%);
  width: 100%;
}

.image-content .button.show {
  opacity: 1;
}

.button {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 650;
  letter-spacing: 0.1em;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: all 0.2s ease;
}

.show {
  opacity: 1;  
}

.hide {
  opacity: 0;
}

.btn-normal {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-normal:hover {
  background-color: rgba(25, 25, 25, 0.5);
  letter-spacing: 0.2em;
}

@media all and (max-width: 900px) {
  .image-box {
    margin: 1.0em 2.5%;
    width: 45%;
  }
}

@media all and (max-width: 500px) {
  .image-box {
    margin: 1.0em 2.5%;
    width: 95%;
  }
}

.textbox {
  font-size: 18px;
}

.filter {
  margin-left: 2%;
  width: 100%;
  height: 800px;
  background-color : #707070;
  border-radius: 10px;
  box-shadow: 13px 13px 17px #aaa;
}

.space {
  padding-bottom: 5%;
}

.spaceTopBot {
  padding-bottom: 5%;
  padding-top: 2%;
  width : 100%;
}

.textFilter {
  padding-left: 4%;
  padding-top: 2%;
  padding-right: 4%;
}

.textFilterLi {
  display: inline;
  font-size: 25px;
  color: white;
}

.textFilterLi2 {
  display: inline;
  padding-left: 180px;
  font-size: 10px;
}

.textFilter2 {
  padding-left: 6%;
  padding-top: 10%;
  padding-right: 6%;
}

.titleFilter{
  background-color: #9CC1F3;
  padding: 0;
  border-radius: 10px;
}

.middleText {
  text-align: center;
}

.checkForm {
  text-align: left;
  padding-left: 30%;
  width: 300px;
}

.searchSpace {
  margin-left: 2%;
  width: 100%;
  height: 200px;
  background-color : #707070;
  border-radius: 10px;
  box-shadow: 13px 13px 17px #aaa;
}

.researchText {
  text-align: center;
  padding-top: 20px;
}

#mapid { 
  width : 100%;
  height : 100%;
}

.containerLine {
  width: 20%;
  margin-top : 5%;
  margin-bottom : 5%;
  display : inline-block;
  vertical-align: top;

}

.mapSpace {
  display : inline-block;
  position: relative;
  width : 50%;
  height: 400px;
  vertical-align: top;
  margin-top : 90px;
  margin-left : 15%;
  z-index: 10;
}

.tableau {
  display: inline-block;
  position: relative;
  width: 55%;
  height: 1000px;
  margin-top: 0px;
  margin-left: 33%;
  vertical-align: top;
}